body.reader-black-font, body.reader-black-font .history-mode .view-area, body.reader-black-font .history-mode .view-area pre, body.reader-black-font .main .kalamu-area, body.reader-black-font .main .markdown .text, body.reader-black-font input, body.reader-black-font select, body.reader-black-font textarea {
    /*font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;*/
}

body {
    background-color: #fff;
    font-size: 0px;
}
h1, div, p {
    font-family: Hiragino Sans GB;
}

#mx_nav {
    top: 0px;
    position: relative;
    width:100%;
    height:60px;
    background-color: rgba(255, 255, 255, 0.0);
    box-shadow: 0px 5px 20px rgba(179, 179, 179, 0.1);
    z-index: 1000;
}

#mx_nav_line {
    height: 1px;
    background-color: #f0f0f0;
    max-width: 1200px;
    min-width: 750px;
    width: 80%;
    margin: auto;
}

.mx_nav_bottom {
    height: 1px;
    width: 100%;
    background-color: rgba(179, 179, 179, 0.15)
}

#mx_nav_bg {
    width: 100%;
    height: 100%;
    opacity: 0.0;
    background-color: #f9f9f9;
}

#mx_nav_content {
    position: absolute;
    top: 10px;
    width: 100%;
}

.mx_nav_top {
    position: absolute;
    top: 7px;
    left: 0px;
    opacity: 0;
}

.mx_nav_top_img {
    width: 25px;
    margin-bottom: 4px;
}

.mx_nav_top_text {
    color: #888;
    font-size: 15px;
    padding-left: 5px;
}

.mx_nav_top:active, .mx_nav_top:hover, .mx_nav_top:link, .mx_nav_top:visited {
    color: #888;
    font-size: 15px;
    text-decoration: none;
}

.mx_nav_inner {
    max-width: 1200px;
    min-width: 750px;
    width: 80%;
    margin: auto;
    padding-left: 0px;
    text-align: right;
    position: relative;
}

.mx_nav_item {
    display: inline-block;
    margin-left: 30px;
    /*color: #888;*/
    padding-top: 8px;
    font-size: 15px;
    width: 90px;
    text-align: center;
}

.mx_nav_item_a:active, .mx_nav_item_a:hover, .mx_nav_item_a:link, .mx_nav_item_a:visited {
    color: #888;
    text-decoration: none;
}

#mx_header {
    width: 100%;
    height: 380px;
    background-color: #fff;
    overflow: hidden;
}

.mx_header_content {
    max-width: 1200px;
    min-width: 750px;
    width: 80%;
    margin: auto;
    padding-top: 90px;
    text-align: center;
}

.mx_header_name {
    margin: 0px;
    color: #333;
}

.mx_header_desc {
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;
    color: #888;
    padding: 0px 22.5% 0px 22.5%;
}

.mx_header_down {
    width: 180px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #26CC63;
    margin: auto;
    margin-top: 40px;
    padding-top: 5px;
    font-size: 12px;
    -ms-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.mx_header_down a, .mx_header_down a:active, .mx_header_down a:link, .mx_header_down a:visited, .mx_header_down a:hover {
    color: #26CC63;
    text-decoration: none;
}
/*.mx_header_down a:hover {
    color: #fff;
}*/



/*.mx_slider_bar {
    font-size: 15px;
    position: absolute;
    width: 100%;
    top: 105px;
}
.mx_slider_bar #lh_right {
    float: right;
}
.mx_slider_arrow {
    width: 30px;
}
.mx_slider_arrow.left {
    margin-left: 10px;
}
.mx_slider_arrow.right {
    margin-right: 10px;
}*/


.page {
    max-width: 1200px;
    min-width: 750px;
    width: 80%;
    margin: auto;
    position: relative;
    padding-bottom: 80px;
}

.mx_margin {
    height: 90px;
}

#page1 {
    padding: 90px 0px 0px 0px;
}

.mx_product_slider {
    opacity: 0;
    width: 55%;
    -ms-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transform: translateY(100px);
    -ms-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -o-transform: translateY(100px);
}
.mx_product_descs {
    width: 40%;
    position: absolute;
    left: 60%;
    top: 0px;
    height: 100%;
    opacity: 0;
    -ms-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transform: translateY(100px);
    -ms-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -o-transform: translateY(100px);
}

.mx_product_hint {
    font-size: 13px;
    color: #26CC63;
    margin: 0px;
}
.mx_product_name {
    font-size: 20px;
    margin: 5px 0px 0px 0px;
    font-weight: 600;
    color: #575757;
}
.mx_product_time {
    color: #999;
    margin: 10px 0px 0px 0px;
    font-size: 14px;
}
.mx_product_desc, .mx_product_detail {
    margin: 15px 0px 0px 0px;
    font-size: 13px;
    color: #888;
    line-height: 25px;

    -ms-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.mx_product_desc {
    margin-top: 25px;
}
.mx_product_detail {
    display: none;
    opacity: 0.0;
}
.mx_more_less {
    color: #26CC63;
    font-size: 12px;
    text-align: right;
}
.mx_more_less:active, .mx_more_less:hover, .mx_more_less:link, .mx_more_less:visited {
    color: #26CC63;
    text-decoration: none;
}


.paddint_bottom {
    padding-bottom: 300px;
}
.paddint_bottom2 {
    padding-bottom: 200px;
}

.mx_sub_pros {
    background-color: #f9f9f9;
    padding-top: 90px;
}
.mx_sub_item {
    width: 50%;
    display: inline-block;
    text-align: center;
    opacity: 0;
    -ms-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transform: translateY(100px);
    -ms-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -o-transform: translateY(100px);
}
.limit {
    width: 80%;
    margin: 10px auto 0px auto;
}
.mx_product_slider_s {
    width: 80%;
    margin: 20px auto 0px auto;
}

.mx_ps {
    width: 75%;
    margin: 15px auto 0px auto;
    position: relative;
    text-align: left;
}
.mx_product_detail_s {
    position: absolute;
    top: 0px;
    margin-top: 0px;
}
.mx_product_desc_s {
    position: absolute;
    top: 0px;
    margin-top: 0px;
}




#page2 {
    position: relative;
    max-width: 1200px;
    min-width: 750px;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
#mx_edu {
    opacity: 0;
    -ms-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transform: translateY(100px);
    -ms-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -o-transform: translateY(100px);
}
.mx_center_rail {
    width: 6px;
    height: 500px;
    margin: 0px auto 80px auto;
    background-color: rgba(38, 204, 99, 0.4);
    border-radius: 3px;
}

.mx_rail_container {
    position: absolute;
    top: 40px;
    width: 100%;
}

.mx_rail_item {
    margin: 0px auto 0px auto;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.0);
    border: 1px solid rgba(38, 204, 99, 0.6);
}

.mx_rail_margin {
    margin-top: 150px;
}

.mx_rail_item_outer {
    margin: 3px auto 0px auto;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.0);
    border: 1px solid rgba(38, 204, 99, 0.8);
}

.mx_rail_item_inner {
    margin: 1px auto 0px auto;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #26CC63;
}

.mx_edu_container {
    position: absolute;
    top: 40px;
    width: 50%;
    height: 200px;
}
.mx_edu_container_left {
    left: 0px;
}
.mx_edu_container_right {
    right: 0px;
}

.mx_edu_item {
    position: absolute;
    width: 80%;
    max-width: 380px;
    background-color: #f9f9f9;
    border-top: 3px solid #26CC63;
    border-radius: 5px;
}
#mx_edu_item_1 {
    top: 0px;
    right: 50px;
}
#mx_edu_item_2 {
    top: 170px;
    left: 50px;
}
#mx_edu_item_3 {
    top: 340px;
    right: 50px;
}

.mx_edu_arrow_right {
    position: absolute;
    top: 0px;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #f9f9f9;
    border-bottom: 10px solid transparent;
}
.mx_edu_arrow_left {
    position: absolute;
    top: 0px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #f9f9f9;
    border-bottom: 10px solid transparent;
}

.mx_edu_time {
    background-color: #26CC63;
    font-size: 12px;
    width: 130px;
    height: 22px;
    margin: 10px 20px 0px 20px;
    padding-top: 3px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    position: relative;
}
.mx_edu_down_arrow {
    position: absolute;
    top: 99%;
    left: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid #26CC63;
    border-left: 8px solid transparent;
}

.mx_edu_desc {
    font-size: 13px;
    color: #b3b3b3;
    padding: 0px 20px 0px 20px;
}

.mx_edu_course {
    font-size: 14px;
    color: #575757;
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
}



#page3 {
    background-color: #f9f9f9;
    height: 100%;
}

#mx_skills {
    position: relative;
    max-width: 1200px;
    min-width: 750px;
    width: 80%;
    margin: auto;
    padding-top: 150px;
    opacity: 0;
    -ms-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transform: translateY(100px);
    -ms-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -o-transform: translateY(100px);
}

.mx_skills_container {
    width: 50%;
    height: 100px;
}
.mx_skills_container_r {
    position: absolute;
    right: 0px;
    top: 150px;
}

.mx_skill {
    width: 85%;
    margin: 0px auto 30px auto;
}
.mx_skill_name {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
}
.mx_skill_progress_bg {
    width: 100%;
    height: 6px;
    background-color: #cdcdcd;
    border-radius: 3px;
}
.mx_skill_progress {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    border-radius: 3px;
}

.mx_skills {
    height: 100%;
    position: relative;
}
.mx_skill_1 {
    width: 95%;
}
#mx_skill_1 {
    background: linear-gradient(50deg, #74f1a2, #27ce64);
    background: -ms-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -webkit-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -moz-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -o-linear-gradient(50deg, #74f1a2, #27ce64);
}

.mx_skill_2 {
    width: 95%;
}
#mx_skill_2 {
    background: linear-gradient(50deg, #74f1a2, #27ce64);
    background: -ms-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -webkit-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -moz-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -o-linear-gradient(50deg, #74f1a2, #27ce64);
}

.mx_skill_3 {
    width: 90%;
}
#mx_skill_3 {
    background: linear-gradient(50deg, #74f1a2, #27ce64);
    background: -ms-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -webkit-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -moz-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -o-linear-gradient(50deg, #74f1a2, #27ce64);
}

.mx_skill_4 {
    width: 90%;
}
#mx_skill_4 {
    background: linear-gradient(50deg, #74f1a2, #27ce64);
    background: -ms-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -webkit-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -moz-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -o-linear-gradient(50deg, #74f1a2, #27ce64);
}

.mx_skill_5 {
    width: 90%;
}
#mx_skill_5 {
    background: linear-gradient(50deg, #74f1a2, #27ce64);
    background: -ms-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -webkit-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -moz-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -o-linear-gradient(50deg, #74f1a2, #27ce64);
}

.mx_skill_6 {
    width: 85%;
}
#mx_skill_6 {
    background: linear-gradient(50deg, #74f1a2, #27ce64);
    background: -ms-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -webkit-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -moz-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -o-linear-gradient(50deg, #74f1a2, #27ce64);
}

.mx_skill_7 {
    width: 90%;
}
#mx_skill_7 {
    background: linear-gradient(50deg, #74f1a2, #27ce64);
    background: -ms-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -webkit-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -moz-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -o-linear-gradient(50deg, #74f1a2, #27ce64);
}

.mx_skill_8 {
    width: 90%;
}
#mx_skill_8 {
    background: linear-gradient(50deg, #74f1a2, #27ce64);
    background: -ms-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -webkit-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -moz-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -o-linear-gradient(50deg, #74f1a2, #27ce64);
}

.mx_skill_9 {
    width: 70%;
}
#mx_skill_9 {
    background: linear-gradient(50deg, #74f1a2, #27ce64);
    background: -ms-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -webkit-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -moz-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -o-linear-gradient(50deg, #74f1a2, #27ce64);
}

.mx_skill_10 {
    width: 50%;
}
#mx_skill_10 {
    background: linear-gradient(50deg, #74f1a2, #27ce64);
    background: -ms-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -webkit-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -moz-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -o-linear-gradient(50deg, #74f1a2, #27ce64);
}

.mx_skill_11 {
    width: 50%;
}
#mx_skill_11 {
    background: linear-gradient(50deg, #74f1a2, #27ce64);
    background: -ms-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -webkit-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -moz-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -o-linear-gradient(50deg, #74f1a2, #27ce64);
}

.mx_skill_12 {
    width: 40%;
}
#mx_skill_12 {
    background: linear-gradient(50deg, #74f1a2, #27ce64);
    background: -ms-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -webkit-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -moz-linear-gradient(50deg, #74f1a2, #27ce64);
    background: -o-linear-gradient(50deg, #74f1a2, #27ce64);
}
